pkgbase = obs-service-source_validator
	pkgdesc = An OBS source service: running all the osc source-validator checks
	pkgver = 0.38
	pkgrel = 1
	url = https://github.com/openSUSE/obs-service-source_validator
	arch = any
	license = GPL-2.0-or-later
	depends = bzip2
	depends = cpio
	depends = diffutils
	depends = gnupg
	depends = libxml2
	depends = obs-build
	depends = patch
	depends = perl-timedate
	depends = unzip
	depends = xz
	depends = zstd
	source = obs-service-source_validator-0.38.tar.gz::https://github.com/openSUSE/obs-service-source_validator/archive/0.38.tar.gz
	sha256sums = f768d9d5b5b57785d061ec2478f383f71d280cc2558845a8c5f3b17f8a363d79

pkgname = obs-service-source_validator
